body{
    font-size: 16px;
    font-family: 'Gotham Pro Regular';
    box-sizing: border-box
}
.nav-item{
    padding-right: 100px;
    margin: 0 auto;
}
#container_second{
    width: 100%;
    height: 500px;
    background-image: url(/img/header-bg.png);
    background-size: cover;
}
h1{
    margin: auto auto;
}
.works-section{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 60px;
    margin-left: 150px;
    margin-bottom: 70px;
    margin-top:50px;
}
.team_sec{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 100px;
}
.team_sec img{
height: 90px;
width: 90px;
margin: auto

}
.card{
  margin-bottom: 30px;
}
#team_text{
    margin-bottom: 60px;
    font-family: 'Proxima Nova Regular';
}
h4{
    font-size: 16px;
    text-align: center;
    font-family: 'Gotham Pro Bold';
    font-weight: 800
}
.team_sec p{
    text-align: center;
    font-size: 12px;
}
.team_sec i{
    display: grid
}
#contatti{
    letter-spacing: 2px;
    }
  #contatti a{
    color: #fff;
    text-decoration: none;
  }
.fa{
 color: #7f7f7f;
padding-right: 20px;
font-size: 1.2em;
padding-bottom: 20px;
  }
  .fa:hover{
    color: #000000;
  }
  #b-button:hover{
    background-color: #4e6e7c;
  }
  label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
  }
  #toggle{
    display: none;
  }
  .main-form{
    height: 250px; 
    width: 525px; 
    background-color: #f2f2f2;
    border: none;
  }

  @media screen and (max-width: 768px) {
    .works-section{
      display: grid;
      grid-template-columns: 1fr;}
      h1{
        font-size: 30px;
      
      }
      .works-section{
        margin-left: 75px;
      }
      .container_second p{
        text-align: left
      }
      .team_sec{
        display: grid;
        grid-template-columns: auto;
  }
  .card{
    margin-bottom: 50px;
  }
  label{
    display: block;
    cursor: pointer;  
  }
  .menu{
    text-align: center;
    display: none;
  }
  .menu a{
    clear: right;
    margin: 0 10px;
    line-height: 70px;
    display: inline;
  }
  .menu a li{
    display: inline-block;
  }
  #toggle:checked + .menu{
    display: block;
  }
}

  @media screen and (min-width: 768px) and (max-width: 991.98px) { 
    .team_sec{
      display: grid;
      grid-template-columns: 1fr 1fr;
}
.works-section{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
   }

 
   @media (min-width: 992px) and (max-width: 1199.98px) {
    #contatti{padding-bottom: 200px;}
  
     #contatti .maps iframe{
       width: 100%;
       height: 310px;
     }
  }
  
  #author a{
    color: #fff;
    text-decoration: none;
      
  }
  #form_first{

  }
